body{
    background-image: url(https://i.ibb.co/7ys15Nd/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1080px;
    height: 100vh;
}

.dp {
    height: 80px;
    width: 100px;
    border-radius: 50%;
    margin-top: 30px;
}

.menu {
    background-color: rgb(31, 30, 30);
    width: 200px;
    height: 100vh;
    text-align: center;
}

.menu a {
    color: white;
    text-decoration: none;
    line-height: 3.5;
}

/* 
color: white;
font-family: sans-serif;
font-weight: 700;
line-height: 1.5;
float: right;
padding-top: 100px;
padding-right: 30px; */